<section class="about-me" id="about-me">
  <div class="container">
    <div class="about-me-container">
      <div class="about-me-title">
        About <br> Diptanu Baidya
      </div>

      <div class="about-me-flex-container">
        <div class="about-me-image">
          <div class="back-div"></div>
          <div class="black-image"><img src="../../assets/abtblc.jpg" alt="black"></div>
          <div class="main-image"><img src="../../assets/abt.jpg" alt="db"></div>
        </div>
        <div class="about-me-content">

          <div class="logo"><img class="db" src="../../assets/diptanu baidya.png" alt="db"></div>

          <div class="text" style="text-align: justify;">
            An ambitious Front-end Developer and designer who takes great pride in the presentation and quality of work. 

            <br><br>

            Diptanu is someone who can design and create simple, beautiful and easy to understand things. He is an expert at taking designs into original, exciting and new directions. Also a great photographer. This Website cum blog is represent Diptanu's all Photography and information.
          </div>
        </div>
      </div>

      <div class="mail-button mail-button2">
        <a href="mailto:diptanubaidya4@gmail.com"><img src="../../assets/147563.svg" alt="mail"></a>
      </div>

    </div>

  </div>
</section>
