<section class="contact_us">
  <div class="container">
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <div class="contact_inner">
                  <div class="row">
                      <div class="col-md-10">
                          <div class="contact_form_inner">
                              <div class="contact_field">
                                  <h3>Contatc Me</h3>
                                  <p>Feel Free to contact us any time. We will get back to you as soon as we can!.</p>
                                  <input type="text" class="form-control form-group" placeholder="Name" />
                                  <input type="text" class="form-control form-group" placeholder="Email" />
                                  <textarea class="form-control form-group" placeholder="Message"></textarea>
                                  <button class="contact_form_submit">Send</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2">
                        <div class="right_conatct_social_icon d-flex align-items-end ">
                            <div class="social-container me-2">
                              <a href="https://www.facebook.com/diptanu.baidya.75?mibextid=ZbWKw" target="_blank"  class="social"><i class="fa fa-facebook-square me-2" style="font-size:24px;color:white" ></i></a>
                              <a href="https://mail.google.com/mail" class="social" target="_blank"><i class="fa fa-google-plus-official me-2" style="font-size:24px;color:white"></i></a>
                              <a href="https://www.linkedin.com/in/diptanubaidya" target="_blank"  class="social"><i class="fa fa-linkedin-square me-2" style="font-size:24px;color:white"></i></a>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="contact_info_sec">
                      <h4>Contact Info</h4>
                      <div class="d-flex info_single align-items-center">
                          <i class="fas fa-headset"></i>
                          <span>+91 9366609069</span>
                      </div>
                      <div class="d-flex info_single align-items-center">
                          <i class="fas fa-envelope-open-text"></i>
                          <span>diptanubaidya4@gmail.com</span>
                      </div>
                      <div class="d-flex info_single align-items-center">
                          <i class="fas fa-map-marked-alt"></i>
                          <span>Travel across India</span>
                      </div>
      
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="map_sec">
  <div class="container">
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <div class="map_inner">
                  <h4>Find Me on Google Map</h4>
                  <div class="map_bind">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58385.37220458043!2d91.2530628861564!3d23.851088149049335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3753f40dc94123a7%3A0xd0a1263c6c40c8c7!2sAgartala%2C%20Tripura!5e0!3m2!1sen!2sin!4v1694764532462!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

