<div class="container">

	<h1 class="heading">The Beautiful Nature Gallery</h1>

	<div class="gallery">


		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/1.jpg" alt="Diptanus Travelling">
			
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/2.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/3.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/4.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/5.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/6.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/7.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/8.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/9.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/10.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/11.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/12.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/13.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/14.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/15.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/16.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/17.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/18.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/19.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/20.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/21.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/22.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/23.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/24.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/25.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/26.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/27.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/28.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/29.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/30.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/31.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/32.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/33.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/34.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/35.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/36.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/37.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/38.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/39.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/40.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/41.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/42.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/43.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/44.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/45.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/46.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/47.jpg" alt="Diptanus Travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Nature/48.jpg" alt="Diptanus Travelling">
		</div>


	</div>

</div>