<router-outlet></router-outlet> 


<nav class="float-action-button">
  <a routerLink="/" class="buttons" data-placement="left">
          <i class="fa fa-home"></i>
        </a>
  <a href="https://mail.google.com/mail" class="buttons" target="_blank"  title="Google+" data-toggle="tooltip" data-placement="left">
          <i class="fa fa-google-plus"></i>
        </a>
  <a href="https://www.linkedin.com/in/diptanubaidya" target="_blank"  class="buttons" title="Twitter" data-toggle="tooltip" data-placement="left">
          <i class="fa fa-linkedin"></i>
        </a>
  <a href="https://www.facebook.com/diptanu.baidya.75?mibextid=ZbWKw" target="_blank" class="buttons" title="Facebook" data-toggle="tooltip" data-placement="left">
          <i class="fa fa-facebook"></i>
        </a>
  <a  class="buttons main-button" title="Share" data-toggle="tooltip" data-placement="left">
          <i class="fa fa-times"></i>
          <i class="fa fa-share-alt"></i>
        </a>
</nav>