<div class="container">

	<h1 class="heading">The Beautiful Special Gallery</h1>

	<div class="gallery">


		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/1.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/2.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/3.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/4.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/5.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/6.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/7.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/8.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/9.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/10.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/11.webp" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/12.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/13.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/14.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/15.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/16.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/17.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/18.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/19.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/20.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/21.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/22.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/23.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/24.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/25.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/26.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/27.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/28.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/29.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/30.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/31.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/32.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/33.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/34.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/35.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/36.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/37.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/38.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/39.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/40.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/41.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/42.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/43.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/44.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/45.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/46.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/47.jpg" alt="Diptanus Travelling">
			
		</div>
	
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Special/48.jpg" alt="Diptanus Travelling">
			
		</div>
	

	</div>

</div>