<div class="container">

	<h1 class="heading">The Beautiful Travel Gallery</h1>

	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/1.jpg" alt="Diptanus travelling">
			
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/2.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/3.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/4.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/5.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/6.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/7.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/8.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/9.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/10.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/11.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/12.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/13.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/14.webp" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/15.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/16.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/17.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/18.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/19.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/20.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/21.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/22.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/23.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/24.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/25.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/26.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/27.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/28.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/29.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/30.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/31.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/32.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/33.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/34.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/35.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/36.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/37.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/38.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/39.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/40.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/41.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/42.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/43.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/44.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/45.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/46.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/47.jpg" alt="Diptanus travelling">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/Travel/48.jpg" alt="Diptanus travelling">
		</div>

	

	
		

		

	</div>

</div>