<div class="hero-section">	
    <div class="about-text hover-target" routerLink="/about">about</div>
    <div class="contact-text hover-target" routerLink="/contact">contact</div>
    <div class="section-center">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h1>Diptanu Baidya</h1>
          </div>
          <div class="col-12 text-center mb-2">
            <div class="dancing">photography</div>
          </div>
          <div class="col-12 text-center mt-4 mt-lg-5">
            <p>
              <span class="travel hover-target" routerLink="/travel">Travel</span> 
              <span class="wildlife hover-target" routerLink="/wild">Special</span> 
              <span class="nature hover-target" routerLink="/nature">Nature</span>
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>	
  
  
  
  
  
  
  <a href="https://diptanubaidya4portfolio.netlify.app/" class="link-to-portfolio hover-target" target=”_blank”></a>
  
  